* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 36px;
  color: #333;
}

.title h2 {
  font-size: 20px;
  color: #666;
}

.support {
  text-align: center;
}

h3 {
  color: #333;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

.paypal-btn {
  text-decoration: none;
}

.paypal {
  background-color: #009cde;
  color: #fff;
}

.otherway {
  background-color: #333;
  color: #fff;
}
